.foo-0 { color: #0000; }
.foo-1 { color: #0001; }
.foo-2 { color: #0002; }
.foo-3 { color: #0003; }
.foo-4 { color: #0004; }
.foo-5 { color: #0005; }
.foo-6 { color: #0006; }
.foo-7 { color: #0007; }
.foo-8 { color: #0008; }
.foo-9 { color: #0009; }
.foo-10 { color: #00010; }
.foo-11 { color: #00011; }
.foo-12 { color: #00012; }
.foo-13 { color: #00013; }
.foo-14 { color: #00014; }
.foo-15 { color: #00015; }
.foo-16 { color: #00016; }
.foo-17 { color: #00017; }
.foo-18 { color: #00018; }
.foo-19 { color: #00019; }
.foo-20 { color: #00020; }
.foo-21 { color: #00021; }
.foo-22 { color: #00022; }
.foo-23 { color: #00023; }
.foo-24 { color: #00024; }
.foo-25 { color: #00025; }
.foo-26 { color: #00026; }
.foo-27 { color: #00027; }
.foo-28 { color: #00028; }
.foo-29 { color: #00029; }
.foo-30 { color: #00030; }
.foo-31 { color: #00031; }
.foo-32 { color: #00032; }
.foo-33 { color: #00033; }
.foo-34 { color: #00034; }
.foo-35 { color: #00035; }
.foo-36 { color: #00036; }
.foo-37 { color: #00037; }
.foo-38 { color: #00038; }
.foo-39 { color: #00039; }
.foo-40 { color: #00040; }
.foo-41 { color: #00041; }
.foo-42 { color: #00042; }
.foo-43 { color: #00043; }
.foo-44 { color: #00044; }
.foo-45 { color: #00045; }
.foo-46 { color: #00046; }
.foo-47 { color: #00047; }
.foo-48 { color: #00048; }
.foo-49 { color: #00049; }
.foo-50 { color: #00050; }
.foo-51 { color: #00051; }
.foo-52 { color: #00052; }
.foo-53 { color: #00053; }
.foo-54 { color: #00054; }
.foo-55 { color: #00055; }
.foo-56 { color: #00056; }
.foo-57 { color: #00057; }
.foo-58 { color: #00058; }
.foo-59 { color: #00059; }
.foo-60 { color: #00060; }
.foo-61 { color: #00061; }
.foo-62 { color: #00062; }
.foo-63 { color: #00063; }
.foo-64 { color: #00064; }
.foo-65 { color: #00065; }
.foo-66 { color: #00066; }
.foo-67 { color: #00067; }
.foo-68 { color: #00068; }
.foo-69 { color: #00069; }
.foo-70 { color: #00070; }
.foo-71 { color: #00071; }
.foo-72 { color: #00072; }
.foo-73 { color: #00073; }
.foo-74 { color: #00074; }
.foo-75 { color: #00075; }
.foo-76 { color: #00076; }
.foo-77 { color: #00077; }
.foo-78 { color: #00078; }
.foo-79 { color: #00079; }
.foo-80 { color: #00080; }
.foo-81 { color: #00081; }
.foo-82 { color: #00082; }
.foo-83 { color: #00083; }
.foo-84 { color: #00084; }
.foo-85 { color: #00085; }
.foo-86 { color: #00086; }
.foo-87 { color: #00087; }
.foo-88 { color: #00088; }
.foo-89 { color: #00089; }
.foo-90 { color: #00090; }
.foo-91 { color: #00091; }
.foo-92 { color: #00092; }
.foo-93 { color: #00093; }
.foo-94 { color: #00094; }
.foo-95 { color: #00095; }
.foo-96 { color: #00096; }
.foo-97 { color: #00097; }
.foo-98 { color: #00098; }
.foo-99 { color: #00099; }
.foo-100 { color: #000100; }
.foo-101 { color: #000101; }
.foo-102 { color: #000102; }
.foo-103 { color: #000103; }
.foo-104 { color: #000104; }
.foo-105 { color: #000105; }
.foo-106 { color: #000106; }
.foo-107 { color: #000107; }
.foo-108 { color: #000108; }
.foo-109 { color: #000109; }
.foo-110 { color: #000110; }
.foo-111 { color: #000111; }
.foo-112 { color: #000112; }
.foo-113 { color: #000113; }
.foo-114 { color: #000114; }
.foo-115 { color: #000115; }
.foo-116 { color: #000116; }
.foo-117 { color: #000117; }
.foo-118 { color: #000118; }
.foo-119 { color: #000119; }
.foo-120 { color: #000120; }
.foo-121 { color: #000121; }
.foo-122 { color: #000122; }
.foo-123 { color: #000123; }
.foo-124 { color: #000124; }
.foo-125 { color: #000125; }
.foo-126 { color: #000126; }
.foo-127 { color: #000127; }
.foo-128 { color: #000128; }
.foo-129 { color: #000129; }
.foo-130 { color: #000130; }
.foo-131 { color: #000131; }
.foo-132 { color: #000132; }
.foo-133 { color: #000133; }
.foo-134 { color: #000134; }
.foo-135 { color: #000135; }
.foo-136 { color: #000136; }
.foo-137 { color: #000137; }
.foo-138 { color: #000138; }
.foo-139 { color: #000139; }
.foo-140 { color: #000140; }
.foo-141 { color: #000141; }
.foo-142 { color: #000142; }
.foo-143 { color: #000143; }
.foo-144 { color: #000144; }
.foo-145 { color: #000145; }
.foo-146 { color: #000146; }
.foo-147 { color: #000147; }
.foo-148 { color: #000148; }
.foo-149 { color: #000149; }
.foo-150 { color: #000150; }
.foo-151 { color: #000151; }
.foo-152 { color: #000152; }
.foo-153 { color: #000153; }
.foo-154 { color: #000154; }
.foo-155 { color: #000155; }
.foo-156 { color: #000156; }
.foo-157 { color: #000157; }
.foo-158 { color: #000158; }
.foo-159 { color: #000159; }
.foo-160 { color: #000160; }
.foo-161 { color: #000161; }
.foo-162 { color: #000162; }
.foo-163 { color: #000163; }
.foo-164 { color: #000164; }
.foo-165 { color: #000165; }
.foo-166 { color: #000166; }
.foo-167 { color: #000167; }
.foo-168 { color: #000168; }
.foo-169 { color: #000169; }
.foo-170 { color: #000170; }
.foo-171 { color: #000171; }
.foo-172 { color: #000172; }
.foo-173 { color: #000173; }
.foo-174 { color: #000174; }
.foo-175 { color: #000175; }
.foo-176 { color: #000176; }
.foo-177 { color: #000177; }
.foo-178 { color: #000178; }
.foo-179 { color: #000179; }
.foo-180 { color: #000180; }
.foo-181 { color: #000181; }
.foo-182 { color: #000182; }
.foo-183 { color: #000183; }
.foo-184 { color: #000184; }
.foo-185 { color: #000185; }
.foo-186 { color: #000186; }
.foo-187 { color: #000187; }
.foo-188 { color: #000188; }
.foo-189 { color: #000189; }
.foo-190 { color: #000190; }
.foo-191 { color: #000191; }
.foo-192 { color: #000192; }
.foo-193 { color: #000193; }
.foo-194 { color: #000194; }
.foo-195 { color: #000195; }
.foo-196 { color: #000196; }
.foo-197 { color: #000197; }
.foo-198 { color: #000198; }
.foo-199 { color: #000199; }
