# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
    - package-ecosystem: 'npm' # See documentation for possible values
      cooldown:
          default-days: 2
      directory: '/' # Location of package manifests
      schedule:
          interval: 'weekly'
      labels:
          - 'USER STORY'
      ignore:
          # As a library, we want to avoid bumping TypeScript, so that we don't accidentally use
          # language features from a version newer than our downstream users have installed
          - dependency-name: 'typescript'
      groups:
          # Most minor/patch version bumps are harmless, so we group them together
          # Major version bumps typically require manual intervention, so they get individual PRs (default behavior)
          # Namespaced packages typically depend on each other, so they get grouped for major version bumps
          babel:
              patterns:
                  - '@babel/*'
              update-types:
                  - 'major'
          best:
              patterns:
                  - 'best'
                  - '@best/*'
              update-types:
                  - 'major'
          lint:
              patterns:
                  - 'prettier'
                  # eslint packages probably have rules that require manual updates
                  - '*eslint*'
              update-types:
                  # any version bump can make linting fail in CI
                  - 'major'
                  - 'minor'
                  - 'patch'
          nx:
              patterns:
                  - 'nx'
                  - '@nx/*'
              update-types:
                  - 'major'
          rollup:
              patterns:
                  - 'rollup'
                  - '@rollup/*'
              update-types:
                  - 'major'
          webdriverio:
              patterns:
                  - 'webdriverio'
                  - '@wdio/*'
              update-types:
                  - 'major'
                  - 'minor'
          vitest:
              patterns:
                  - 'vitest'
                  - '@vitest/*'
              update-types:
                  - 'major'
          # Non-major version bumps hopefully shouldn't break anything,
          # so let's group them together into a single PR!
          theoretically-non-breaking:
              update-types:
                  - 'minor'
                  - 'patch'
