{
  "presets": ["es2015"],
  "plugins": [
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
  ],
  "ignore": ["node_modules"]
}