{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "no-console": 0
    },
    "settings": {
        "flowtype": {
            "onlyFilesWithFlowAnnotation": false
        }
    }
}
