{
    "root": true,

    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    },

    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "airbnb-base"],

    "env": {
        "es6": true
    },

    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ],
        "indent" : ["error", 4],
        "no-useless-constructor": "off",
        "comma-dangle": ["error", {
            "arrays": "ignore",
            "objects": "ignore",
            "imports": "never",
            "exports": "never",
            "functions": "ignore"
        }]
    },

    "overrides": [
        {
            "files": [
                "**/__tests__/**",
                "**/__mocks__/**"
            ],

            "env": {
                "jest": true
            }
        },
        {
            "files": [
                "**/scripts/**",
                "**/jest.config.js"
            ],

            "env": {
                "node": true,
                "jest": true
            },

            "rules": {
                "no-console": "off"
            }
        }
    ]
}
