# Shared config
ignore_forks: &ignore_forks
  branches:
    # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
    ignore: /pull\/[0-9]+/

only_forks: &only_forks
  branches:
    # Forked pull requests have CIRCLE_BRANCH set to pull/XXX
    only: /pull\/[0-9]+/

# Jobs definition
version: 2.1


# Custom executors definition
executors:
  node:
    working_directory: ~/lwc
    docker:
      - image: cimg/node:16.14.0


# Custom commands definition
commands:
  # Based on https://circleci.com/developer/orbs/orb/kimh/run-with-retry
  retry_karma:
    description: Retry command multiple times until it succeeds
    parameters:
      command:
        type: string
      command_name:
        type: string
      working_directory:
        type: string
      retry_count:
        type: integer
        default: 3
      coverage:
        type: boolean
        default: false
      disable_synthetic:
        type: boolean
        default: false
      force_native_shadow_mode:
        type: boolean
        default: false
    steps:
      - run:
          name: << parameters.command_name >>
          working_directory: << parameters.working_directory >>
          command: |
            retry() {
               MAX_RETRY=<< parameters.retry_count >>
               n=0
               until [ $n -ge $MAX_RETRY ]
               do
                  echo "Try $[$n+1]/$MAX_RETRY..."
                  "$@" && break
                  n=$[$n+1]
               done
               if [ $n -ge $MAX_RETRY ]; then
                 echo "Failed: ${@}" >&2
                 exit 1
               fi
            }
            <<# parameters.disable_synthetic >> DISABLE_SYNTHETIC=1 <</ parameters.disable_synthetic >> \
            <<# parameters.force_native_shadow_mode >> FORCE_NATIVE_SHADOW_MODE_FOR_TEST=1 <</ parameters.force_native_shadow_mode >> \
            <<# parameters.coverage >> COVERAGE=1 <</ parameters.coverage >> \
            retry << parameters.command >>
  # Setup
  restore_yarn_cache:
    description: Restore Yarn cache from previous build
    steps:
      - restore_cache:
          keys:
            - yarn-v5-{{ checksum "yarn.lock" }}

  save_yarn_cache:
    description: Save Yarn cache for future builds
    steps:
      - save_cache:
          key: yarn-v5-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  save_workspace:
    description: Save current workspace
    steps:
      - persist_to_workspace:
          root: .
          paths: .

  load_workspace:
    description: Load workspace
    steps:
      - attach_workspace:
          at: ~/lwc


  # Sauce connect
  start_sauce_connect:
    description: Start sauce connect
    parameters:
      username:
        type: env_var_name
        default: SAUCE_USERNAME
      key:
        type: env_var_name
        default: SAUCE_KEY
      tunnel_id:
        type: env_var_name
        default: SAUCE_TUNNEL_ID
    steps:
      - run:
          name: Install and start sauce connect
          background: true
          command: |
              curl https://saucelabs.com/downloads/sc-4.6.2-linux.tar.gz -o saucelabs.tar.gz
              tar -xzf saucelabs.tar.gz
              cd sc-*
              bin/sc -u ${<< parameters.username >>} -k ${<< parameters.key >>} -i ${<< parameters.tunnel_id >>} -P 4445
      - run:
          name: Wait for sauce connect to be up
          command: wget --retry-connrefused --no-check-certificate -T 60 localhost:4445

  # Test
  run_karma:
    description: Run Karma integration tests
    parameters:
      disable_synthetic:
        type: boolean
      force_native_shadow_mode:
        type: boolean
      coverage:
        type: boolean
        default: true
    steps:
      - retry_karma:
          command_name: Run karma integration tests
          working_directory: packages/@lwc/integration-karma
          disable_synthetic: << parameters.disable_synthetic >>
          force_native_shadow_mode: << parameters.force_native_shadow_mode >>
          coverage: << parameters.coverage >>
          command: yarn sauce


# Jobs definition
jobs:
  build:
    executor: node
    steps:
      - checkout
      - restore_yarn_cache
      - run:
          name: Install dependencies and build
          command: yarn install --frozen-lockfile
      - run:
          name: Check missing file headers
          command: node ./scripts/tasks/check-license-headers.js
      - run:
          name: Check formatting
          command: yarn prettier --check '{packages,scripts}/**/*.{js,ts,json,md}'
      - run:
          name: Run linter
          command: yarn lint
      - run:
          name: Check the size of the LWC bundle
          command: yarn bundlesize
      - save_yarn_cache
      - save_workspace


  test_unit:
    executor: node
    steps:
      - load_workspace
      - run:
          name: Run unit tests
          command: yarn test:ci


  test_karma:
    executor: node
    environment:
      SAUCE_TUNNEL_ID: lwc_<< pipeline.id	>>_test_karma
    steps:
      - load_workspace
      - start_sauce_connect
      - run_karma:
          disable_synthetic: false
          force_native_shadow_mode: false
      - run_karma:
          disable_synthetic: true
          force_native_shadow_mode: false
      - run_karma:
          disable_synthetic: false
          force_native_shadow_mode: true
      - retry_karma:
          command_name: Run karma hydration tests
          command: yarn hydration:sauce
          working_directory: packages/@lwc/integration-karma
          coverage: true
      - run:
          name: Compute karma coverage
          command: yarn coverage
          working_directory: packages/@lwc/integration-karma


  test_integration:
    executor: node
    environment:
      SAUCE_TUNNEL_ID: lwc_<< pipeline.id	>>_test_integration
    steps:
      - load_workspace
      - start_sauce_connect
      - retry_karma:
          command_name: Run integration test - Chrome SauceLabs
          command: yarn sauce:prod --browsers chrome
          working_directory: packages/@lwc/integration-tests


# Workflows definition
workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            <<: *ignore_forks

      - test_unit:
          filters:
            <<: *ignore_forks
          requires:
            - build

      - test_karma:
          filters:
            <<: *ignore_forks
          requires:
            - test_unit

      - test_integration:
          filters:
            <<: *ignore_forks
          requires:
            - test_unit

  build_and_test_for_forked_repos:
    jobs:
      - build:
          filters:
            <<: *only_forks

      - test_unit:
          filters:
            <<: *only_forks
          requires:
            - build

      - hold:
          type: approval # presents manual approval button in the UI
          filters:
            <<: *only_forks
          requires:
            - build
            - test_unit

      - test_karma:
          context: lwc-sauce-labs
          filters:
            <<: *only_forks
          requires:
            - build
            - hold

      - test_integration:
          context: lwc-sauce-labs
          filters:
            <<: *only_forks
          requires:
            - test_unit
            - test_karma
