version: 2
jobs:
  build_and_test:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:10-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v4-{{ checksum "yarn.lock" }}

      - run: yarn install --frozen-lockfile

      - save_cache:
          paths:
            - ~/.cache/yarn
            - node_modules
            - packages/*/node_modules
          key: yarn-v4-{{ checksum "yarn.lock" }}

      - run:
          name: Validation package versions
          command: node ./scripts/tasks/version-check.js

      - run:
          name: Check license headers
          command: node ./scripts/tasks/check-license-headers.js

      - run:
          name: Run Linting
          command: yarn lint

      - run:
          name: Run Unit Tests
          command: yarn test:ci


  integration_test:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:10-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v4-{{ checksum "yarn.lock" }}

      - run: yarn install

      - run:
          name: Integration Test - Headless Chrome
          command: cd packages/integration-tests && SAUCE_USERNAME=$SAUCE_USERNAME SAUCE_KEY=$SAUCE_KEY yarn local:prod


  integration_test_compat:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:10-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v4-{{ checksum "yarn.lock" }}

      - run: yarn install

      - run:
          name: Install and start sauce connect
          background: true
          command: |
              wget https://saucelabs.com/downloads/sc-4.4.11-linux.tar.gz
              tar -xzf sc-4.4.11-linux.tar.gz
              cd sc-*-linux && ./bin/sc --user $SAUCE_USERNAME --api-key $SAUCE_KEY --readyfile ~/sauce_is_ready

      - run:
          name: Wait for sauce connect to be ready
          command: while [ ! -e ~/sauce_is_ready ]; do sleep 1; done

      - run:
          name: Integration Test - IE11 SauceLabs
          command: cd packages/integration-tests && SAUCE_USERNAME=$SAUCE_USERNAME SAUCE_KEY=$SAUCE_KEY yarn sauce:prod_compat --browsers ie11


  perf_and_compare_chrome:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:10-stretch-browsers

    environment:
      - CUSTOM_BASH_ENV: ~/.bashrc
      - CIRCLE_ENV_BROKEN: $CIRCLE_SHA1
      - GIT_APP_CERT_PATH: ~/lwc/git_app.pem

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v4-{{ checksum "yarn.lock" }}

      - run:
          name: Setup dynamic environment variables
          command:
              echo '
              export PULL_REQUEST=${CIRCLE_PULL_REQUEST}
              export REPO_NAME=${CIRCLE_PROJECT_REPONAME}
              export TARGET_COMMIT=${CIRCLE_SHA1}
              export BASE_COMMIT=`git rev-parse origin/master`' >> $BASH_ENV

      - run:
          name: Decode PEM as environment variable
          command: echo -e "$GIT_APP_CERT" | base64 -d >> ~/lwc/git_app.pem

      - run: yarn install

      - run:
          name: Preformance Test
          working_directory: packages/perf-benchmarks
          command: yarn start --projects best.headless.config.js --externalStorage=@best/store-aws --runner remote
          no_output_timeout: 40m


      - store_artifacts:
          path: ~/lwc/packages/perf-benchmarks/__benchmark_results__/
          destination: benchmarks

      - run:
          name: Comparing Benchmarks
          working_directory: packages/perf-benchmarks
          command: yarn start --projects best.headless.config.js --compareStats ${BASE_COMMIT} ${TARGET_COMMIT} --externalStorage=@best/store-aws --gitIntegration

  perf_and_compare_ie11:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:10-stretch-browsers

    environment:
      - CUSTOM_BASH_ENV: ~/.bashrc
      - CIRCLE_ENV_BROKEN: $CIRCLE_SHA1
      - GIT_APP_CERT_PATH: ~/lwc/git_app.pem

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v4-{{ checksum "yarn.lock" }}

      - run:
          name: Setup dynamic environment variables
          command:
              echo '
              export PULL_REQUEST=${CIRCLE_PULL_REQUEST}
              export REPO_NAME=${CIRCLE_PROJECT_REPONAME}
              export TARGET_COMMIT=${CIRCLE_SHA1}
              export BASE_COMMIT=`git rev-parse origin/master`' >> $BASH_ENV

      - run:
          name: Decode PEM as environment variable
          command: echo -e "$GIT_APP_CERT" | base64 -d >> ~/lwc/git_app.pem

      - run: yarn install

      - run:
          name: Preformance Test
          working_directory: packages/perf-benchmarks
          command: yarn start --projects best.ie11.config.js --externalStorage=@best/store-aws --runner remote
          no_output_timeout: 40m


      - store_artifacts:
          path: ~/lwc/packages/perf-benchmarks/__benchmark_results__/
          destination: benchmarks

      - run:
          name: Comparing Benchmarks
          working_directory: packages/perf-benchmarks
          command: yarn start --projects best.ie11.config.js --compareStats ${BASE_COMMIT} ${TARGET_COMMIT} --externalStorage=@best/store-aws --gitIntegration

  push_canary_npm_artifacts:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:10-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v4-{{ checksum "yarn.lock" }}

      - run: yarn install

      - run:
          name: Push artifacts
          command: node scripts/release_canary_npm.js ${CIRCLE_SHA1} packages/@lwc

workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test

      - integration_test_compat:
          requires:
            - build_and_test

      - integration_test:
          requires:
            - build_and_test

      - perf_and_compare_chrome:
          requires:
            - build_and_test

      - push_canary_npm_artifacts:
          requires:
            - build_and_test
          filters:
            branches:
              only: master

      # uncomment this when IE11 agent stabilizes
      # - perf_and_compare_ie11:
      #     requires:
      #       - build_and_test
