version: 2
jobs:
  build:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:8.9.3-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v3-{{ .Branch }}-{{ checksum "package.json" }}

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
            - packages/*/node_modules
            - yarn.lock
          key: yarn-v3-{{ .Branch }}-{{ checksum "package.json" }}

  unit_test:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:8.9.3-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v3-{{ .Branch }}-{{ checksum "package.json" }}
          - yarn-v3-{{ .Branch }}-

      - run: yarn install

      - run:
          name: Unit Test
          command: yarn test

  integration_test:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:8.9.3-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v3-{{ .Branch }}-{{ checksum "package.json" }}
          - yarn-v3-{{ .Branch }}-

      - run: yarn install
      - run:
          name: Integration Test
          command: SAUCE_USERNAME=$SAUCE_USERNAME SAUCE_KEY=$SAUCE_KEY yarn test:integration

  performance_test:
    working_directory: ~/lwc

    docker:
      - image: circleci/node:8.9.3-stretch-browsers

    steps:
      - checkout

      - restore_cache:
          keys:
          - yarn-v3-{{ .Branch }}-{{ checksum "package.json" }}
          - yarn-v3-{{ .Branch }}-

      - run: yarn install
      - run:
          name: Preformance Test
          command: yarn test:performance

      - store_artifacts:
          path: ~/lwc/packages/benchmark/__benchmark_results__/
          destination: benchmarks

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              only: /\w+\/.*/

      - unit_test:
          requires:
            - build
          filters:
            branches:
              only: /\w+\/.*/

      - integration_test:
          requires:
            - build
          filters:
            branches:
              only: /\w+\/.*/

      - performance_test:
          requires:
            - build
          filters:
            branches:
              only: /\w+\/.*/
