name: Canary Release

on:
    workflow_dispatch:

env:
    NODE_VERSION: '24.11.1'

permissions:
    contents: write
    pull-requests: write
    id-token: write
    packages: write

jobs:
    release:
        if: ${{ github.repository_owner == 'salesforce' }} # Prevent usage from forks
        name: Canary Release - ${{ github.event.ref }}
        environment: release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  token: ${{ secrets.WORKFLOW_PAT }}
                  persist-credentials: true

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  registry-url: 'https://registry.npmjs.org'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile --ignore-scripts # Building later; can skip for now

            - name: Update LWC version
              id: update_version
              run: |

                  node ./scripts/release/version.js prerelease
                  RESOLVED_VERSION="$(jq -r .version package.json)"
                  echo "New version: $RESOLVED_VERSION"

            - name: Build
              run: yarn build

            - name: Publish to npm
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NPM_CONFIG_ALWAYS_AUTH: 'true'
              run: |
                  # Force both npm and yarn to use npmjs and pick up the token
                  yarn config set registry https://registry.npmjs.org
                  npm config set registry https://registry.npmjs.org
                  printf "//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}\nalways-auth=true\n" > ~/.npmrc

                  # Sanity checks
                  echo "yarn registry: $(yarn config get registry)"
                  echo "npm registry:  $(npm config get registry)"

                  yarn nx release publish --yes --tag canary
