name: Web Test Runner

on:
    push:
        branches:
            - master
            - release
            - 'spring*'
            - 'summer*'
            - 'winter*'
    pull_request:

env:
    COVERAGE: '1'
    NODE_VERSION: '20.19.4'

defaults:
    run:
        working-directory: packages/@lwc/integration-not-karma

jobs:
    # We run tests in parallel to speed up CI, with an arbitrary goal of ~20 minutes per job.
    # TODO: upload result artifacts

    integration-tests:
        name: Integration tests (${{ matrix.runs_on}}; ${{ matrix.shadow_mode }} shadow; ${{ matrix.env }})
        strategy:
            fail-fast: false
            matrix:
                shadow_mode: [native, synthetic]
                runs_on: [ubuntu-22.04, macos-15, windows-2025]
                env:
                    - ''
                    # - DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1 # currently borked
                    - DISABLE_STATIC_CONTENT_OPTIMIZATION=1
                    - ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL=1
                    - NODE_ENV_FOR_TEST=1

        runs-on: ${{ matrix.runs_on }}
        env:
            SHADOW_MODE_OVERRIDE: ${{ matrix.shadow_mode }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps
            - name: Set env vars
              run: echo '${{ matrix.env }}' >> "$GITHUB_ENV"
            - name: Sanity check
              run: env
            - run: yarn test

    integration-tests-api-versions:
        name: Integration tests (${{ matrix.runs_on }}; ${{ matrix.shadow_mode }} shadow; API version ${{ matrix.api_version }})
        strategy:
            fail-fast: false
            matrix:
                shadow_mode: [native, synthetic]
                runs_on: [ubuntu-22.04, macos-15, windows-2025]
                api_version: [58, 59, 60, 61, 62, 66] # No new features for 63-65

        runs-on: ${{ matrix.runs_on }}
        env:
            SHADOW_MODE_OVERRIDE: ${{ matrix.shadow_mode }}
            API_VERSION: ${{ matrix.api_version }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps
            - run: yarn test

    integration-tests-not-both-modes:
        # Tests that should run in only synthetic or native shadow, not both
        name: Integration tests (${{ matrix.runs_on }}; singleton batch)
        strategy:
            fail-fast: false
            matrix:
                runs_on: [ubuntu-22.04, macos-15, windows-2025]

        runs-on: ${{ matrix.runs_on }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps
            # Synthetic shadow only
            - name: Slightly older browsers
              run: yarn test || true
              env:
                  LEGACY_BROWSERS: 1
            - name: FORCE_NATIVE_SHADOW_MODE_FOR_TEST
              run: yarn test
              env:
                  FORCE_NATIVE_SHADOW_MODE_FOR_TEST: 1
            - name: DISABLE_DETACHED_REHYDRATION
              run: yarn test
              env:
                  DISABLE_DETACHED_REHYDRATION: 1
            - name: DISABLE_DETACHED_REHYDRATION DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE
              run: yarn test || true
              env:
                  DISABLE_DETACHED_REHYDRATION: 1
                  DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE: 1

            # Native shadow only -- don't forget SHADOW_MODE_OVERRIDE!
            - name: Native shadow DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER
              run: yarn test
              env:
                  SHADOW_MODE_OVERRIDE: native
                  DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER: 1
            - name: Native shadow DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER DISABLE_STATIC_CONTENT_OPTIMIZATION
              run: yarn test
              env:
                  SHADOW_MODE_OVERRIDE: native
                  DISABLE_STATIC_CONTENT_OPTIMIZATION: 1
                  DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER: 1

    hydration-tests-ssr-v2:
        name: Hydration tests (${{ matrix.runs_on }}; SSR v2)
        strategy:
            fail-fast: false
            matrix:
                runs_on: [ubuntu-22.04, macos-15, windows-2025]

        runs-on: ${{ matrix.runs_on }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps
            - run: yarn test:hydration
            - name: Synthetic shadow
              run: yarn test:hydration
              env:
                  SHADOW_MODE_OVERRIDE: synthetic
            - name: NODE_ENV_FOR_TEST=production
              run: yarn test:hydration
              env:
                  NODE_ENV_FOR_TEST: production
            - name: DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE
              run: yarn test:hydration
              env:
                  DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE: 1
            - name: DISABLE_STATIC_CONTENT_OPTIMIZATION
              run: yarn test:hydration
              env:
                  DISABLE_STATIC_CONTENT_OPTIMIZATION: 1

    hydration-tests-engine-server:
        name: Hydration tests (${{ matrix.runs_on }}; engine-server)
        strategy:
            fail-fast: false
            matrix:
                runs_on: [ubuntu-22.04, macos-15, windows-2025]

        runs-on: ${{ matrix.runs_on }}
        env:
            ENGINE_SERVER: 1

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps
            # NOTE: All tests have ENGINE_SERVER=1 already set
            - run: yarn test:hydration
            - name: Synthetic shadow
              run: yarn test:hydration
              env:
                  SHADOW_MODE_OVERRIDE: synthetic
            - name: NODE_ENV_FOR_TEST=production
              run: yarn test:hydration
              env:
                  NODE_ENV_FOR_TEST: production
            - name: DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE
              run: yarn test:hydration
              env:
                  DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE: 1
            - name: DISABLE_STATIC_CONTENT_OPTIMIZATION
              run: yarn test:hydration
              env:
                  DISABLE_STATIC_CONTENT_OPTIMIZATION: 1
            - name: DISABLE_DETACHED_REHYDRATION
              run: yarn test:hydration
              env:
                  DISABLE_DETACHED_REHYDRATION: 1
            - name: DISABLE_DETACHED_REHYDRATION DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE
              run: yarn test:hydration
              env:
                  DISABLE_DETACHED_REHYDRATION: 1
                  DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE: 1
