name: Web Test Runner

on:
    push:
        branches:
            - master
            - release
            - 'spring*'
            - 'summer*'
            - 'winter*'
    pull_request:

env:
    COVERAGE: '1'
    NODE_VERSION: '20.19.4'

defaults:
    run:
        working-directory: packages/@lwc/integration-not-karma

jobs:
    # We run tests in parallel to speed up CI, with an arbitrary goal of ~20 minutes per job.
    integration-tests:
        name: Integration tests (${{ matrix.shadow_mode }} shadow; ${{ matrix.env || 'default env' }})
        runs-on: ubuntu-22.04
        strategy:
            fail-fast: false
            matrix:
                shadow_mode: [native, synthetic]
                env:
                    - ''
                    # TODO: Fix
                    # - DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - DISABLE_STATIC_CONTENT_OPTIMIZATION=1
                    - ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL=1
                    - NODE_ENV_FOR_TEST=production
                    - API_VERSION=58
                    - API_VERSION=59
                    - API_VERSION=60
                    - API_VERSION=61
                    - API_VERSION=62
                    # No need for 63-65
                    - API_VERSION=66

                include:
                    # Test modes for only synthetic or only native
                    - shadow_mode: synthetic
                      env: FORCE_NATIVE_SHADOW_MODE_FOR_TEST=1
                    - shadow_mode: synthetic
                      env: DISABLE_DETACHED_REHYDRATION=1
                    # TODO: Fix
                    # - shadow_mode: synthetic
                    #   env: DISABLE_DETACHED_REHYDRATION=1 DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - shadow_mode: native
                      env: DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=1
                    - shadow_mode: native
                      env: DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=1 DISABLE_STATIC_CONTENT_OPTIMIZATION=1

        env:
            SHADOW_MODE_OVERRIDE: ${{ matrix.shadow_mode }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Get installed playwright version
              id: playwright-version
              run: |
                  version="$(yarn --silent list --json --depth 0 playwright | jq -r '.data.trees.[].name|split("@")[1]')"
                  echo "version=$version" >> "$GITHUB_OUTPUT"

            - name: Cache playwright binaries
              uses: actions/cache@v4
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: yarn playwright install chrome firefox webkit --with-deps

            - name: Set env vars
              run: echo '${{ matrix.env }}' | tr ' ' '\n' >> "$GITHUB_ENV"

            - name: Sanity check env vars
              run: |
                  echo "API_VERSION=$API_VERSION"
                  echo "DISABLE_DETACHED_REHYDRATION=$DISABLE_DETACHED_REHYDRATION"
                  echo "DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=$DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE"
                  echo "DISABLE_STATIC_CONTENT_OPTIMIZATION=$DISABLE_STATIC_CONTENT_OPTIMIZATION"
                  echo "DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=$DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER"
                  echo "ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL=$ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL"
                  echo "FORCE_NATIVE_SHADOW_MODE_FOR_TEST=$FORCE_NATIVE_SHADOW_MODE_FOR_TEST"
                  echo "NODE_ENV_FOR_TEST=$NODE_ENV_FOR_TEST"

            - name: Run integration tests
              run: yarn test

            - name: Upload coverage report
              # Upload coverage even if the test step failed
              if: always()
              run: |
                  [ -f coverage/index.html ] && awk '/<table/,/<\/table>/' coverage/index.html >> "$GITHUB_STEP_SUMMARY"

    hydration-tests:
        name: Hydration tests (${{ matrix.engine_server && 'engine-server' || 'SSR v2' }}; ${{ matrix.env || 'default env' }})
        runs-on: ubuntu-22.04
        strategy:
            fail-fast: false
            matrix:
                engine_server: ['', 1]
                env:
                    - ''
                    - SHADOW_MODE_OVERRIDE=synthetic
                    - NODE_ENV_FOR_TEST=production
                    - DISABLE_STATIC_CONTENT_OPTIMIZATION=1
                include:
                    - engine_server: 1
                      env: DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - engine_server: 1
                      env: DISABLE_DETACHED_REHYDRATION=1
                    - engine_server: 1
                      env: DISABLE_DETACHED_REHYDRATION=1 DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1

        env:
            ENGINE_SERVER: ${{ matrix.engine_server }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Get installed playwright version
              id: playwright-version
              run: |
                  version="$(yarn --silent list --json --depth 0 playwright | jq -r '.data.trees.[].name|split("@")[1]')"
                  echo "version=$version" >> "$GITHUB_OUTPUT"

            - name: Cache playwright binaries
              uses: actions/cache@v4
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              if: steps.playwright-cache.outputs.cache-hit != 'true'
              run: yarn playwright install chrome firefox webkit --with-deps

            - name: Set env vars
              run: echo '${{ matrix.env }}' | tr ' ' '\n' >> "$GITHUB_ENV"

            - name: Sanity check env vars
              run: |
                  echo "SHADOW_MODE_OVERRIDE=$SHADOW_MODE_OVERRIDE"
                  echo "NODE_ENV_FOR_TEST=$NODE_ENV_FOR_TEST"
                  echo "DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=$DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE"
                  echo "DISABLE_STATIC_CONTENT_OPTIMIZATION=$DISABLE_STATIC_CONTENT_OPTIMIZATION"
                  echo "DISABLE_DETACHED_REHYDRATION=$DISABLE_DETACHED_REHYDRATION"
                  echo "ENGINE_SERVER=$ENGINE_SERVER"

            - name: Run hydration tests
              run: yarn test:hydration

            - name: Upload coverage report
              # Upload coverage even if the test step failed
              if: always()
              run: |
                  [ -f coverage/index.html ] && awk '/<table/,/<\/table>/' coverage/index.html >> "$GITHUB_STEP_SUMMARY"
