name: Web Test Runner

on:
    push:
        branches:
            - master
            - release
            - 'spring*'
            - 'summer*'
            - 'winter*'
    pull_request:

env:
    SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
    SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
    COVERAGE: '1'
    NODE_VERSION: '20.19.4'

defaults:
    run:
        working-directory: packages/@lwc/integration-not-karma

jobs:
    # We run tests in parallel to speed up CI, with an arbitrary goal of ~20 minutes per job.
    # TODO: upload result artifacts

    integration-tests:
        name: Integration tests (${{ matrix.runs_on}}; ${{ matrix.shadow_mode }} shadow; ${{ matrix.env || 'default env' }})
        strategy:
            fail-fast: false
            matrix:
                shadow_mode: [native, synthetic]
                runs_on: [ubuntu-22.04, macos-15, windows-2025]
                env:
                    - ''
                    # TODO: Fix
                    # - DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - DISABLE_STATIC_CONTENT_OPTIMIZATION=1
                    - ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL=1
                    - NODE_ENV_FOR_TEST=1
                    - API_VERSION=58
                    - API_VERSION=59
                    - API_VERSION=60
                    - API_VERSION=61
                    - API_VERSION=62
                    # No need for 63-65
                    - API_VERSION=66
                    - LEGACY_BROWSERS=1
                    - FORCE_NATIVE_SHADOW_MODE_FOR_TEST=1
                    - DISABLE_DETACHED_REHYDRATION=1
                    - DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=1
                    - DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=1 DISABLE_STATIC_CONTENT_OPTIMIZATION=1
                    # TODO: Fix
                    # - DISABLE_DETACHED_REHYDRATION=1 DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1

                exclude:
                    - shadow_mode: native
                      env: LEGACY_BROWSERS=1
                    - shadow_mode: native
                      env: FORCE_NATIVE_SHADOW_MODE_FOR_TEST=1
                    - shadow_mode: native
                      env: DISABLE_DETACHED_REHYDRATION=1
                    - shadow_mode: native
                      env: DISABLE_DETACHED_REHYDRATION=1 DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - shadow_mode: synthetic
                      env: DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=1
                    - shadow_mode: synthetic
                      env: DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=1 DISABLE_STATIC_CONTENT_OPTIMIZATION=1

        runs-on: ${{ matrix.runs_on }}
        env:
            SHADOW_MODE_OVERRIDE: ${{ matrix.shadow_mode }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Get SauceLabs tunnel ID
              id: saucelabs-tunnel
              shell: bash
              run: |
                  hash=$('${{ matrix.shadow_mode }}; ${{ matrix.env }}' | sha256sum | cut -d' ' -f1)
                  echo "hash=$hash" >> "$GITHUB_OUTPUT"

            - uses: saucelabs/sauce-connect-action@v3.0.0
              with:
                  username: ${{ secrets.SAUCE_USERNAME }}
                  accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
                  tunnelName: gha-${{ github.run_id }}-wtr-integration-${{ steps.saucelabs-tunnel.outputs.hash }}
                  region: us

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps

            - name: Set env vars
              run: echo '${{ matrix.env }}' | tr ' ' '\n' >> "$GITHUB_ENV"

            - name: Sanity check env vars
              run: |
                  echo "API_VERSION=$API_VERSION"
                  echo "DISABLE_DETACHED_REHYDRATION=$DISABLE_DETACHED_REHYDRATION"
                  echo "DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=$DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE"
                  echo "DISABLE_STATIC_CONTENT_OPTIMIZATION=$DISABLE_STATIC_CONTENT_OPTIMIZATION"
                  echo "DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER=$DISABLE_SYNTHETIC_SHADOW_SUPPORT_IN_COMPILER"
                  echo "ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL=$ENABLE_ARIA_REFLECTION_GLOBAL_POLYFILL"
                  echo "FORCE_NATIVE_SHADOW_MODE_FOR_TEST=$FORCE_NATIVE_SHADOW_MODE_FOR_TEST"
                  echo "LEGACY_BROWSERS=$LEGACY_BROWSERS"
                  echo "NODE_ENV_FOR_TEST=$NODE_ENV_FOR_TEST"

            - name: Run integration tests
              run: yarn test

    hydration-tests:
        name: Hydration tests (${{ matrix.runs_on }}; ${{ matrix.engine_server && 'engine-server' || 'SSR v2' }}; ${{ matrix.env || 'default env' }})
        strategy:
            fail-fast: false
            matrix:
                runs_on: [ubuntu-22.04, macos-15, windows-2025]
                engine_server: ['', 1]
                env:
                    - ''
                    - SHADOW_MODE_OVERRIDE=synthetic
                    - NODE_ENV_FOR_TEST=production
                    - DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - DISABLE_STATIC_CONTENT_OPTIMIZATION=1
                    - DISABLE_DETACHED_REHYDRATION=1
                    - DISABLE_DETACHED_REHYDRATION=1 DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                exclude:
                    - engine_server: ''
                      env: DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1
                    - engine_server: ''
                      env: DISABLE_DETACHED_REHYDRATION=1
                    - engine_server: ''
                      env: DISABLE_DETACHED_REHYDRATION=1 DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=1

        runs-on: ${{ matrix.runs_on }}

        env:
            ENGINE_SERVER: ${{ matrix.engine_server }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ env.NODE_VERSION }}
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile
              working-directory: ./

            - name: Install playwright dependencies
              run: yarn playwright install chrome firefox webkit --with-deps

            - name: Set env vars
              run: echo '${{ matrix.env }}' | tr ' ' '\n' >> "$GITHUB_ENV"

            - name: Sanity check env vars
              run: |
                  echo "SHADOW_MODE_OVERRIDE=$SHADOW_MODE_OVERRIDE"
                  echo "NODE_ENV_FOR_TEST=$NODE_ENV_FOR_TEST"
                  echo "DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE=$DISABLE_NATIVE_CUSTOM_ELEMENT_LIFECYCLE"
                  echo "DISABLE_STATIC_CONTENT_OPTIMIZATION=$DISABLE_STATIC_CONTENT_OPTIMIZATION"
                  echo "DISABLE_DETACHED_REHYDRATION=$DISABLE_DETACHED_REHYDRATION"
                  echo "ENGINE_SERVER=$ENGINE_SERVER"

            - name: Run hydration tests
              run: yarn test:hydration
